#J_seckill {
    outline: none;
    position: relative;
    z-index: 10;
}
.seckill {
    height: 260px;
    margin-bottom: 20px;
}
.seckill_inner {
    background: #fff;
    height: 100%;
    overflow: hidden;
}
.jd_container {
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
}
.seckill-countdown {
    position: relative;
    float: left;
    width: 190px;
    height: 100%;
    color: #fff;
    background-color: #e83632;
    background-image: url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/4a15d8883775742e3efbb850ae14def7.png);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
.seckill-list {
    position: relative;
    float: left;
    width: 800px;
    height: 100%;
    overflow: hidden;
}
.seckill-brand {
    position: relative;
    float: left;
    width: 200px;
    height: 260px;
    padding: 10px;
    /* 兼容问题 */
    box-sizing: border-box;
}
.countdown-title {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 31px;
}
.countdown-desc {
    margin-top: 90px;
    font-size: 14px;
    text-align: center;
}
.countdown-desc strong {
    font-size: 18px;
    padding-right: 2px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -1px;
}
.seckill-countdown:hover {
    color: #fff;
}
.timer {
    color: #333;
    font-weight: 700;
}
.countdown-main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 130px;
    height: 30px;
    display: block;
}
.timer-unit {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #2f3430;
    margin-right: 20px;
    color: white;
    font-size: 20px;
}
.timer-unit-second {
    margin-right: 0;
}
.timer-unit::after {
    content: '';
    display: block;
    position: absolute;
    right: -20px;
    font-size: 18px;
    font-weight: 700;
    width: 20px;
    height: 100%;
    top: 0;
}
.slider-list {
    overflow: hidden;
    width: 800px;
    height: 260px;
    float: left;
    min-height: 1px;
}
.seckill-item {
    position: relative;
    width: 200px;
    height: 260px;
    /* display: inline-block; */
    float: left;
}

/* .seckill-item::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 200px;

} */
.seckill-item-image {
    width: 140px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.seckill-item-image img {
    width: 100%;
    height: 100%;
}
.seckill-item-name {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    font-size: 12px;
    font-weight: 400;
    color: #333;
    transition: color .2s ease;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.seckill-item-name:hover {
    color: #e1251b;
}
.seckill-item-price {
    width: 160px;
    height: 24px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    background-color: #e1251b;
    border: 1px solid #e1251b;
    position: relative;
    box-sizing: border-box;
    line-height: 24px;
}
.price-miaosha {
    width: 92px;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    float: left;
}
.price-miaosha::before {
    content: '';
    width: 0;
    height: 0;
    border-color: transparent white transparent transparent;
    border-style: solid;
    border-width: 22px 8px 0 0;
    position: absolute;
    top: 0;
    left: 84px;
}
.price-origin {
    height: 100%;
    width: 66px;
    float: right;
    background: #fff;
    text-align: center;
    color: #999;
    font-size: 12px;
    line-height: 22px;
    box-sizing: border-box;
    text-decoration: line-through;
    vertical-align: middle;
}
.seckill-brand-slider {
    height: 100%;
    width: 100%;
}
.brand-item {
    width: 180px;
    height: 240px;
    float: left;
    position: relative;
}
.lazying-img {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.lazying-img img{
    height: 100%;
    width: 100%;
}
.item-info {
    position: relative;
    width: 100%;
    height: 90px;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    box-sizing: border-box;
}
.item-info .item-info-title {
    color: #666;
}
.item-info .item-info-promo {
    color: #333;
    font-weight: 700;
}
.item-info-action {
    width: 82px;
    height: 24px;
    color: #e1251b;
    border-radius: 14px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    line-height: 22px;
    font-weight: 700;
    padding-left: 4px;
    font-size: 12px;
    border: 1px solid #e1251b;
    margin-top: 4px;
    transition: background-color .2s ease;
}
.item-info .item-info-action:hover {
    color: #fff;
    border-color: transparent;
    background-color: #c81623;
}